.BackToTop {
  position: absolute;
  bottom: 20px;
  right: 50px;
  height: 40px;
  width: 40px;
  line-height: 30px;
  padding: 0.5rem;
  font-size: 1.222rem;
  font-weight: bold;
  border-radius: 0.5rem;
  z-index: 99;
  color: white;
  transition: background-color .3s;
  background-color: #1f6db6; }
  .BackToTop:hover {
    background-color: #144675; }
  .BackToTop-img {
    position: absolute;
    top: 5px;
    right: -27px;
    height: 30px; }
