.Header {
  padding: var(--spacing-100);
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
}
.LogoWrap {
  width: 90%;
  margin: auto;
}
.Logo {
  width: 100%;
  display: block;
}

/* Styles for smaller screens */
@media screen and (min-width: 800px) {
  .LogoWrap {
    width: 60%;
    max-width: 600px;
    margin: 0;
  }
}