.Header {
  padding: 1rem;
  background: black;
  color: white;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1; }
  .Header-logoWrap {
    width: 90%;
    margin: auto; }
    @media screen and (min-width: 480px) {
      .Header-logoWrap {
        width: 60%;
        max-width: 600px;
        margin: 0; } }
