.Header {
  padding: 1rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2; }
  .Header-logoWrap {
    width: 90%;
    max-width: 650px;
    margin: auto; }
