// Must include global vars in all files
@import 'global/all';

// Component styles below
.Header {
  padding: $spacing--1000;
  background: $color--black;
  color: $color--white;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  &-logoWrap {
    width: 90%;
    margin: auto;
    // Styles for smaller screens
    @media screen and (min-width: $bp--500) {
      width: 60%;
      max-width: 600px;
      margin: 0;
    }
  }
}