@import 'styles/global/all';

.Footer {
  padding-top: 200px;
  &-content {
    background: $color--black;
    color: $color--white;
    font-size: $font-size--500;
    padding: $spacing--500 $spacing--2000;
    display: flex;
    align-items: center;
    &-copyright {
      margin-right: auto;
    }
    &-links {
      display: flex;
      align-items: center;
      &-twitter {
        &,
        img {
          height: 40px;
          display: block;
        }
      }
      &-facebook {
        padding: 5px;
        height: 40px;
        img {
          height: 30px;
          width: 30px;
          display: block;
        }
      }
      a {
        text-decoration: none;
        margin: 0 $spacing--500;
        border-radius: $radius--500;
        transition: background-color .3s;
        &:hover {
          background: rgba($color--white, .2);
        }
      }
    }
  }
  // Decorative images at the bottom
  &-image,
  &-imageWrap {
    position: absolute;
    bottom: 0;
  }
  &-imageWrap {
    z-index: -1;
    left: 0;
    right: 0;
  }
}