.Footer {
  padding-top: 200px; }
  .Footer-content {
    background: black;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 1rem; }
  .Footer-image, .Footer-imageWrap {
    position: absolute;
    bottom: 0; }
  .Footer-imageWrap {
    z-index: -1;
    left: 0;
    right: 0; }
