.Footer {
  padding-top: 200px; }
  .Footer-content {
    background: black;
    color: white;
    font-size: 0.8rem;
<<<<<<< HEAD
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center; }
    .Footer-content-copyright {
      margin-right: auto; }
    .Footer-content-links {
      display: flex;
      align-items: center; }
      .Footer-content-links-twitter,
      .Footer-content-links-twitter img {
        height: 40px;
        display: block; }
      .Footer-content-links-facebook {
        padding: 5px;
        height: 40px; }
        .Footer-content-links-facebook img {
          height: 30px;
          width: 30px;
          display: block; }
      .Footer-content-links a {
        text-decoration: none;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
        transition: background-color .3s; }
        .Footer-content-links a:hover {
          background: rgba(255, 255, 255, 0.2); }
=======
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 380px) {
      .Footer-content {
        justify-content: space-between; } }
    .Footer-content-links iframe {
      display: block; }
>>>>>>> bunch of updates to things that I apparently didn't push last time... merge conflicts incoming
  .Footer-image, .Footer-imageWrap {
    position: absolute;
    bottom: 0; }
  .Footer-imageWrap {
    z-index: -1;
    left: 0;
    right: 0; }
