.Header {
  padding: 0.5rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .Header {
      padding: 1rem; } }
  .Header-logoWrap {
    width: 90%;
    max-width: 350px;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .Header-logoWrap {
        max-width: 650px; } }
