// Must include global vars in all files
@import 'styles/global/all';

// Component styles below
.Header {
  padding: $spacing--1000;
  background: $color--black;
  color: $color--white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  &-logoWrap {
    width: 90%;
    max-width: 650px;
    margin: auto;
    // Styles for larger screens
    // @media screen and (min-width: $bp--500) {
    //  width: 60%;
    //  max-width: 600px;
    //  margin: 0;
    // }
  }
}