// Must include global vars in all files
@import 'styles/global/all';

// Component styles below
.ContactForm {
  width: 100%;
  max-width: $bp--500;
  padding: $spacing--1500 $spacing--500;
  margin: auto;
  text-align: center;
  input {
    width: 100%;
    margin: $spacing--500 auto;
    padding: $spacing--500;
  }
  .Button {
    width: 250px;
    margin-top: $spacing--500;
  }
  &-message {
    padding: $spacing--500;
    border: 2px solid;
    border-radius: $radius--500;
    margin: $spacing--500 0;
    font-size: $font-size--500;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    &--processing {
      color: $color--primary;
      background-color: lighten($color--primary, 50%);
      border-color: $color--primary;
    }
    &--error {
      color: $color--error;
      background-color: lighten($color--error, 50%);
      border-color: darken($color--error, $tint--1000);
    }
    &--success {
      color: $color--success;
      background-color: lighten($color--success, 70%);
      border-color: darken($color--success, $tint--1000);
    }
  }
  &-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (min-width: $bp--300) {
      flex-wrap: nowrap;
    }
    label {
      width: 100%;
      @media screen and (min-width: $bp--300) {
        width: 20%;
        text-align: left; // Overriding centered text above
      }
    }
  }
}