// Must include global vars in all files
@import 'styles/global/all';

$logo-highlight: #ffc000;
$logo-highlight--warning: #ca1c05; // currently not used
// Component styles below
.Logo {
  width: 100%;
  display: block;
  color: $color--white;
  fill: currentColor;
  transition: color .5s, fill .5s;

  &-bomb-warning {
    transform-origin: 9.9057% 50%;
  }
  &:hover,
  &:focus,
  &:active {
    color: $logo-highlight;
    .Logo-bomb-warning {
      animation: spin 1.5s infinite linear;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes colorFade {
  0% {
    color: $logo-highlight;
  }
  50% {
    color: $logo-highlight--warning;
  }
  100% {
    color: $logo-highlight;
  }
}