.Logo {
  width: 100%;
  display: block;
  color: white;
  fill: currentColor;
  transition: color .5s, fill .5s; }
  .Logo-bomb-warning {
    transform-origin: 9.9057% 50%; }
  .Logo:hover, .Logo:focus, .Logo:active {
    color: #ffc000; }
    .Logo:hover .Logo-bomb-warning, .Logo:focus .Logo-bomb-warning, .Logo:active .Logo-bomb-warning {
      animation: spin 1.5s infinite linear; }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes colorFade {
  0% {
    color: #ffc000; }
  50% {
    color: #ca1c05; }
  100% {
    color: #ffc000; } }
