.Modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 2;
  animation: fadeBg 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  @media screen and (min-width: 650px) {
    .Modal {
      padding: 2rem; } }
  .Modal-inner {
    animation: blowUpModal 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    position: relative;
    margin: auto; }
  .Modal-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    text-transform: uppercase;
    padding: 0.25rem;
    transition: background-color .3s, color .3s; }
    .Modal-close:hover {
      background-color: rgba(255, 255, 255, 0.7);
      color: black; }
  @media screen and (min-width: 650px) {
    .Modal--image .Modal-inner {
      max-height: 90%;
      max-width: 90%; } }
  .Modal--image .Modal-inner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem 2rem; }
    .Modal--image .Modal-inner-description h3 + p {
      margin-top: 0.5rem; }
  .Modal--content .Modal-inner {
    overflow: auto;
    background: white;
    max-width: 768px;
    border-radius: 1rem;
    padding: 1rem; }

@keyframes fadeBg {
  0% {
    background: 0; }
  100% {
    background: rgba(0, 0, 0, 0.8); } }

@keyframes blowUpModal {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
