// Must include global vars in all files
@import 'styles/global/all';

// Component styles below
.Modal {
  // Global modal styles
  background: rgba(0, 0, 0, .8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  @media screen and (min-width: $bp--1000) {
    padding: $spacing--2000;
  }
  &-inner {
    position: relative;
    margin: auto;
  }
  &-close {
    position: fixed;
    top: 0;
    right: 0;
    color: $color--white;
    text-transform: uppercase;
    padding: $spacing--250;
    transition: background-color .3s, color .3s;
    &:hover {
      background-color: rgba(255, 255, 255, .7);
      color: $color--black;
    }
  }
  // Variations
  // Image modal - no background
  &--image {
    .Modal {
      &-inner {
        @media screen and (min-width: $bp--1000) {
          max-height: 90%;
          max-width: 90%;
        }
        &-description {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, .8);
          color: $color--white;
          padding: $spacing--1000 $spacing--2000;
          h3 + p {
            margin-top: $spacing--500;
          }
        }
      }
    }
  }
  // Standard content modal - has background and border radius
  &--content {
    .Modal {
      &-inner {
        overflow: auto;
        background: $color--white;
        max-width: $bp--1500;
        border-radius: $radius--1000;
        padding: $spacing--1000;
      }
    }
  }
}