// Must include global vars in all files
@import 'styles/global/all';

// Utility classes
.u-accessibleText {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.u-retroFont {
	font-family: 'Press Start 2P', cursive;
}
.u-hidden {
	opacity: 0;
}
.u-fadeIn {
	opacity: 1;
}