// Must include global vars in all files
@import 'styles/global/all';

// Component styles below
.Main {
  background-color: $color--secondary;
  &-content {
    position: relative;
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(to bottom, $color--secondary 80%, $color--tertiary);
    z-index: 2;
    // Margin compensates for the size of the header, which varies on different screen sizes
    margin-top: calc(100vh - 41px);
    @media screen and (min-width: $bp--1500) {
      margin-top: calc(100vh - 70px);
    }
  }
}
