// Global variables to use across all Sass files

// Colors
$color--primary: #1f6db6;
$color--secondary: #01264f;
$color--tertiary: #011226;
$color--black: black;
$color--white: white;

// Fonts
$font-size--base: 20px;
$font-size--4000: 1.8em; // 36px
$font-size--3000: 1.5rem; // 28px
$font-size--2000: 1.2rem;  // 24px
$font-size--1000: 1rem;    // 20px
$font-size--800: .9rem;  // 19px
$font-size--500: .8rem; // 16px

// $font-size--7000:             3rem; // 48px
// $font-size--6000:             2.25rem; // 36px
// $font-size--5000:             2rem;    // 32px
// $font-size--4000:             1.75rem; // 28px
// $font-size--3000:             1.5rem;  // 24px
// $font-size--2000:             1.25rem; // 20px
// $font-size--1000:             1rem;    // 16px
// $font-size--500:              .813rem; // 13px

// Spacing
$spacing--250: .25rem;
$spacing--500: .5rem;
$spacing--1000: 1rem;
$spacing--1500: 1.5rem;
$spacing--2000: 2rem;
$spacing--3000: 3rem;
$spacing--4000: 4rem;
$spacing--5000: 5rem;

// Breakpoints
$bp--300: 380px;
$bp--500: 480px;
$bp--1000: 650px;
$bp--1500: 768px;
$bp--2000: 1024px;
$bp--3000: 1280px;

// Misc Layout
$radius--500: .5rem;
$radius--1000: 1rem;
$radius--2000: 2rem;

// Adjusting values
$tint--1000: 10%;
$tint--2000: 15%;