// Global variables to use across all Sass files

// Colors
$color--primary: blue;
$color--secondary: red;
$color--black: black;
$color--white: white;

// Spacing
$spacing--500: .5rem;
$spacing--1000: 1rem;
$spacing--1500: 1.5rem;
$spacing--2000: 2rem;
$spacing--3000: 3rem;

// Breakpoints
$bp--300: 400px;
$bp--500: 600px;
$bp--1000: 800px;
$bp--1500: 1000px;
$bp--2000: 1600px;

// Misc Layout
$border-radius: .5rem;