/* $font-size--7000:             3rem; // 48px
$font-size--6000:             2.25rem; // 36px -- PDP Price Only
$font-size--5000:             2rem;    // 32px
$font-size--4000:             1.75rem; // 28px
$font-size--3000:             1.5rem;  // 24px
$font-size--2000:             1.25rem; // 20px
$font-size--1000:             1rem;    // 16px
$font-size--500:              .813rem; // 13px
 */
.Button {
  border: 1px solid;
  transition: background-color .3s, border-color .3s;
  display: inline-block;
  text-decoration: none; }
  .Button-color--primary {
    background-color: #1f6db6;
    border-color: #1f6db6;
    color: white; }
    .Button-color--primary:hover {
      background-color: #144675;
      border-color: #144675; }
  .Button-color--ghost {
    background-color: transparent;
    border-color: white;
    color: white; }
    .Button-color--ghost:hover {
      background-color: #1f6db6;
      border-color: #1f6db6; }
  .Button-size--small {
    padding: 0.5rem 1rem;
    font-size: 0.813rem;
    border-radius: 1rem; }
  .Button-size--medium {
    padding: 0.5rem 1rem;
    border-radius: 2rem; }
  .Button-size--large {
    padding: 0.5rem 1rem;
    border-radius: 2rem; }
    @media screen and (min-width: 800px) {
      .Button-size--large {
        font-size: 1.25rem;
        padding: 1rem 1.5rem; } }
