.Button {
  border: 1px solid;
  transition: background-color .3s, border-color .3s;
  display: inline-block;
  text-decoration: none; }
  .Button-color--primary {
    background-color: #1f6db6;
    border-color: #1f6db6;
    color: white; }
    .Button-color--primary:hover, .Button-color--primary:focus, .Button-color--primary:active {
      background-color: #144675;
      border-color: #144675; }
  .Button-color--ghost {
    background-color: transparent;
    border-color: white;
    color: white; }
    .Button-color--ghost:hover, .Button-color--ghost:focus, .Button-color--ghost:active {
      background-color: #1f6db6;
      border-color: #1f6db6; }
  .Button-size--small {
    padding: 0.5rem 1rem;
    font-size: 0.833rem;
    border-radius: 1rem; }
  .Button-size--medium {
    padding: 0.5rem 1rem;
    border-radius: 2rem; }
  .Button-size--large {
    padding: 0.5rem 1rem;
    border-radius: 2rem; }
    @media screen and (min-width: 650px) {
      .Button-size--large {
        font-size: 1.222rem;
        padding: 1rem 1.5rem; } }
