// Must include global vars in all files
@import 'global/all';

// Component styles below
.GalleryItem {
  &-thumbnail {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    pointer-events: none; // So the click target is the button, not the image
  }
  &-content {}
}