// Must include global vars in all files
@import 'global/all';

// Component styles below
.Hero {
  position: relative;
  transform-origin:0 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  &-image {
    display:block;
    width:100%;
    height:auto;
  }
  &-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 650px;
    text-align: center;
    img {
      display: block;
      margin-bottom: $spacing--1000;
    }
    .Button {
      margin: $spacing--250;
    }
  }
  &--fullscreen {
    height: calc(100vh - 70px);
    .Hero-image {
      height: calc(100vh - 70px);
      position: fixed;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}