// Must include global vars in all files
@import 'global/all';

// Component styles below
.Hero {
  top: 0;
  display: flex;
  &,
  &-image {
    max-width: 100%;
    width: 100vw;
  }
  &--fullscreen {
    height: calc(100vh - 70px);
    .Hero-image {
      height: calc(100vh - 70px);
      position: fixed;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .Hero-content {
        position: relative;
      }
    }
  }
  &--banner {
    position: relative;
    overflow: hidden;
    .Hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-image {
    &--fullscreen {
      height: calc(100vh - 70px);
      position: fixed;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &-content {
    //position: absolute;
    z-index: 1;
    margin: auto;
    max-width: 90%;
    text-align: center;
    img {
      display: block;
      margin-bottom: $spacing--1000;
    }
    .Button:first-of-type {
      margin-right: $spacing--500;
    }
    @media screen and (min-width: $bp--1000) {
      max-width: 60%;
    }
  }
}