// Must include global vars in all files
@import 'global/all';

// Component styles below
.ImageGalleryItem {
  margin: $spacing--500;
  text-align: center;
  &-thumbnail {
    width: 100%;
    height: auto;
    pointer-events: none; // So the click target is the button, not the image
  }
  &-title {}
  &-modal {
    &-image{}
    &-title {

    }
    &-description {}
  }
}