// Must include global vars in all files
@import 'global/all';

// Component styles below
.ImageGalleryItem {
  margin: $spacing--500;
  text-align: center;
  width: 100%;
  @media screen and (min-width: $bp--300) {
    max-width: 44%;
  }
  @media screen and (min-width: $bp--1000) {
    max-width: 220px;
  }
  &-thumbnail {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none; // So the click target is the button, not the image
  }
  &-title {}
  &-modal {
    &-image{
      display: block;
    }
    &-title {

    }
    &-description {}
  }
}