.ImageGalleryItem {
  margin: 0.5rem;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 380px) {
    .ImageGalleryItem {
      max-width: 44%; } }
  @media screen and (min-width: 650px) {
    .ImageGalleryItem {
      max-width: 220px; } }
  .ImageGalleryItem-thumbnail {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none; }
  .ImageGalleryItem-modal-image {
    display: block; }
