.MainSection {
  padding: 1.5rem;
  position: relative;
  z-index: 1; }
  .MainSection > * {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px; }
  .MainSection-heading {
    margin-top: 1rem; }
  .MainSection-content {
    margin: 1rem auto;
    max-width: 768px; }
    .MainSection-content li {
      margin: 0.5rem 0; }
    .MainSection-content--cta {
      text-align: center; }
      .MainSection-content--cta Button {
        width: 80%;
        max-width: 400px; }
  .MainSection--alt {
    background: #011226;
    padding: 3rem 1.5rem; }
  .MainSection-headerImg, .MainSection-footerImg {
    position: absolute;
    left: 0;
    right: 0; }
  .MainSection-headerImg {
    top: 0; }
  .MainSection-footerImg {
    bottom: 0; }
  .MainSection:nth-last-child(2) .MainSection-footerImg {
    display: none; }
