// Must include global vars in all files
@import 'global/all';

// Component styles below
.MainSection {
  padding: $spacing--1500;
  position: relative;
  z-index: 1;
  > * {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $bp--3000;
  }
  &-heading {
    margin-top: $spacing--1000;
    transition: opacity 2s;
    transition-delay: .5s;
  }
  &-content {
    margin: $spacing--1000 auto;
    max-width: $bp--1500;
    position: relative;
    &.u-retroFont {
      font-size: $font-size--500;
      @media screen and (min-width: $bp--500) {
        font-size: $font-size--1000;
      }
      .MainSection-heading {
        margin: $spacing--2000 0 $spacing--1500;
        font-size: $font-size--2000;
        @media screen and (min-width: $bp--500) {
          font-size: $font-size--3000;
        }
      }
    }
    &-introText {
      margin-top: $spacing--1500;
    }
    &-typingWrapper {
      position: absolute;
      top: 0;
    }
    li {
      margin: $spacing--500 0;
    }
    &--cta {
      text-align: center;
      Button {
        width: 80%;
        max-width: 400px;
      }
    }
  }
  &-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
      text-align: center;
      width: 80%;
      margin-bottom: $spacing--1000;
      @media screen and (min-width: $bp--1500) {
        width: 45%;
      }
      p {
        text-align: left;
      }
    }
    h4 {
      font-size: $font-size--500;
      margin-bottom: $spacing--500;
    }
  }
  &--alt {
    background: $color--tertiary;
    padding: $spacing--3000 $spacing--1500;
  }
  &--fadeBg {
    background: linear-gradient(to bottom, $color--secondary, $color--secondary 50%, $color--tertiary)
  }
  &-headerImg,
  &-footerImg {
    position: absolute;
    left: 0;
    right: 0;
    max-width: none; // Override $bp--3000 above
  }
  &-headerImg {
    top: 0;
  }
  &-footerImg {
    bottom: 0;
  }
  &:nth-last-child(2) {
    .MainSection-footerImg {
      display: none; // Hide footer image if this is the last section
    }
  }
}