// Must include global vars in all files
@import 'global/all';

// Component styles below
.Video {
  // This wraps the video iframe or the placeholder, depending on what state the component is in
  &-wrapper {
    display: block;
    width: 100%;
    // Using these 3 properties allows us to maintain aspect ratio, and stretch the content to fit the container
    padding: 0 0 53.65%;
    position: relative;
    overflow: hidden;
    // Remove some default button styling, because we need this to be a clickable element
    background: 0;
    border: 0;
  }
  // Absolutely position the children so they fill the container
  &-frame,
  &-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-title {
    text-align: center;
    color: $color--white;
    margin-bottom: $spacing--1500;
  }
  &-playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 100px;
    opacity: .5;
    transition: opacity .3s;
    .Video:hover &,
    .Video:focus &,
    .Video:active & {
      opacity: 1;
    }
  }
  // Image adjustments so everything fits properly
  .Image {
    height: 100%;
    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}